<ol>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Clientmaster' %}" >ClientmasterList</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Branchmaster' %}" >BranchmasterList</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Designation' %}" >DesignationList</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Employeemaster' %}" >EmployeemasterList/</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Address' 1 %}" >AddressList</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:City' 1 %}" >CityList/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:State' 1 %}" >StateList/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Country' %}" >CountryList/</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Bankmaster' %}" >BankmasterList/</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Superdistributor' %}" >SuperdistributorList/</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Distributor' %}" >DistributorList/</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Demat' %}" >DematList/</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:Reference' %}" >ReferenceList/</a></li>


    <br/><br/><br/>
    <li style="margin: 10px;"><a href="{% url 'bseuser:EmployeemasterDetail' 1 %}" >EmployeemasterDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:ClientmasterDetail' 1 %}" >ClientmasterDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:BranchmasterDetail' 1 %}" >BranchmasterDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:DesignationDetail' 1 %}" >DesignationDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:AddressDetail' 1 %}" >AddressDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:CityDetail' 1 %}" >CityDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:StateDetail' 1 %}" >StateDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:AddressDetail' 1 %}" >AddressDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:SuperdistributorDetail' 1 %}" >SuperdistributorDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:DistributorDetail' 1 %}">DistributorDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:DematDetail' 1 %}">DematDetail/{pk}</a></li>
    <li style="margin: 10px;"><a href="{% url 'bseuser:ReferenceDetail' 1 %}">ReferenceDetail/{pk}</a></li>
</ol>
